---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import PortfolioContent from '../components/PortfolioContent.astro';
import { projects, employment, skills, socialLinks, about } from '../data/portfolio';
---
<Layout title="Kenneth Liu | Portfolio">
	<main class="app">
		<Navigation />
		<PortfolioContent
			projects={projects}
			employment={employment}
			skills={skills}
			socialLinks={socialLinks}
			about={about}
		/>
	</main>
</Layout>